# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore any macOS system files
.DS_Store

# Ignore compiled output
dist/
build/

# Ignore temporary files
*.tmp
*.swp
